@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @*<a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>*@
            <AuthorizeView>
                <Authorized>
                    Hello, @context.User.Identity.Name!
                    <a href="Logout">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="Registration">Register</a>
                    <a href="Login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
